[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/dracula-theme.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "/Users/momo/.vim/bundle/nerdtree"]
	path = /Users/momo/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
